OPENSEARCH_NODE=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD="SearchLab#2026!"
OPENSEARCH_INDEX_ALIAS=capital-projects-current
OPENSEARCH_REJECT_UNAUTHORIZED=false
OPENSEARCH_SEARCH_PIPELINE=capital-projects-hybrid-pipeline
OPENSEARCH_INGEST_PIPELINE=capital-projects-normalize
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_EMBED_MODEL=qwen3-embedding:0.6b
NYC_CAPITAL_PROJECTS_URL=https://data.cityofnewyork.us/resource/4hcv-tc5r.json
NYC_CAPITAL_PROJECTS_PAGE_SIZE=1000
NEXT_PUBLIC_APP_TITLE=OpenSearch Research Sandbox
